<main>
  <div class="login-card">
    <h1>Login</h1>
    <form #quadroForm="ngForm">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. seu-email@email.com"
          name="email"
          required
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" name="password" required />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!quadroForm.valid"
      >
        Entrar
      </button>
    </form>
    <p>Não possuo conta. <a href="/register">Registrar</a></p>
  </div>
</main>
