<header>
  <a href="/"><h1>Kanban</h1></a>
</header>
<main>
  <div id="add-column"><button class="btn-add" type="button">Adicionar Coluna</button></div>
  <div id="board">
    <app-column [title]="columnTitle">
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
    </app-column>
    <app-column [title]="columnTitle">
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
    </app-column>
    <app-column [title]="columnTitle">
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
    </app-column>
    <app-column [title]="columnTitle">
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
    </app-column>
    <app-column [title]="columnTitle">
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
    </app-column>
    <app-column [title]="columnTitle">
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
    </app-column>
    <app-column [title]="columnTitle">
      <app-card [title]="cardTitle" [description]="cardDescription"></app-card>
    </app-column>
  </div>
</main>
<footer>
  <p>Desenvolvido por Matheus Jurkovich</p>
</footer>
