.card {
  background-color: #f3f1f1;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 20rem;
  display: flex;
  .card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    .card-title {
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .card-description {
      font-size: 0.9rem;
      overflow-wrap: break-word;
    }
  }
  
}
