<div class="card">
  <div class="icon-wrapper">
    <mat-icon>drag_indicator</mat-icon>
  </div>
  <div class="card-content">
    <div class="card-header">
      <h2>{{ task.title }}</h2>
    </div>
    <div *ngIf="task.description" class="card-description">
      <p>
        {{ task.description }}
      </p>
    </div>
  </div>
  <div class="btn-wrapper">
    <button mat-icon-button color="secondary" matSuffix (click)="openModal()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
