.card {
  background-color: #f3f1f1;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 20rem;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .icon-wrapper {
    display: flex;
    align-items: center;
    mat-icon {
      font-size: 1.5rem;
      height: 1.5rem;
      text-align: center;
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70%;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0 0.3rem;

    .card-header {
      h2 {
        font-size: 1.2rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .card-description {
      font-size: 0.9rem;
      overflow-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
    }
  }
  .btn-wrapper {
    display: flex;
    align-items: center;
  }
}
